<%- include("partials/head.ejs") %>

    <%- include("partials/nav.ejs") %>

        <main>
            <section class="form-productos">
                <h2><%= about %></h2>

                <form id="getProducto-form">
                    <label for="idProducto">ID del producto</label>
                    <input type="number" name="idProd" id="idProd" required>

                    <input type="submit" value="Consultar producto">
                </form>
            </section>

            <section class="seccion-productos">
                <hr>
                <div id="contenedor-productos">
                </div>
            </section>

            <script src="/js/get.js"></script>

        </main>

        <%- include("partials/footer.ejs") %>