<%- include("partials/head.ejs") %>

<%- include("partials/nav.ejs") %>


<main>
    <section class="form-productos">
        <h2><%= about %></h2>

        <form id="crear-form">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="precio">Precio</label>
            <input type="number" id="precio" name="precio" required>

            <label for="disponibilidad">Disponibilidad</label>
            <select id="disponibilidad" name="disponibilidad">
                <option value="1">Disponible</option>
                <option value="0">No disponible</option>
            </select>

            <label for="img">Ruta de imagen</label>
            <input type="text" id="img" name="img" placeholder="../../assets/categoria/nombre.png" required>

            <label for="categoria">Categoría</label>
            <select id="categoria" name="categoria">
                <option value="teclado">Teclado</option>
                <option value="mouse">Mouse</option>
            </select>

            <input type="submit" value="Crear producto">
        </form>
    </section>

    <section class="form-usuarios">
        <h2>Crear usuario</h2>

        <form id="crear-usuario-form">
            <label for="nombreUsuario">Nombre</label>
            <input type="text" id="nombreUsuario" name="nombre" required>

            <label for="emailUsuario">Email</label>
            <input type="email" id="emailUsuario" name="email" required>

            <label for="passwordUsuario">Contraseña</label>
            <input type="password" id="passwordUsuario" name="password" required>

            <input type="submit" value="Crear usuario">
        </form>
    </section>
    <section>
        <div id="mensaje"></div>
    </section>
</main>

<script src="/js/post.js"></script>

<%- include("partials/footer.ejs") %>
