<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <section class="form-card">
        <h2><%= about %></h2>
        <form id="put-producto-form">
            <label for="idProducto">ID del producto</label>
            <input type="number" name="idProd" id="idProd" required>

            <input type="submit" value="Buscar producto">
        </form>
    </section>

    <hr>
    <div id="contenedor"></div>
</main>

<dialog id="modal-exito">
    <h3>Operación Exitosa</h3>
    <p id="mensaje-exito-modal"></p>
    <button id="btn-aceptar-exito">Aceptar</button>
</dialog>

<script src="/js/put.js"></script>
<%- include("partials/footer.ejs") %>