<!DOCTYPE html>
<html lang="en">

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- Esta ruta seria localhost:3000/assets/img/favicon.ico -->
    <link rel="shortcut icon" href="/assets/icono/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">
    <title><%= typeof title !== 'undefined' ? title : 'Panel de Control' %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>